/*#moon {
        
    background-image: url(/home/cf/cvbootstrap/bamboo.jpg);
        background-repeat: no-repeat;
        background-position: right;
        background-position-x: 362px;
        background-position-y: 171px;
}
*/

#moon {
  background-color: #80a2b1;
}

.row {
  --bs-gutter-x: 0rem;
}

body {
    background-color: rgb(149, 205, 231);
    border-color:5px dotted rgb(0, 0, 0);
    margin: 0;
    padding: 0;
}

